:root {
    --bg-color: #eeeefc;
    --txt-color: #445a78;
    --litetxt: #9ecacc;
    --heavytxt: #373640;
    --thumbnail-bg: #9ecacc;
    --header-bg: #32363c;
    --grid-padding: 25px 0px 15px 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
}

/* Set up style for header and navigation */

header {
    background: url("../images/herobg.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header a {
    text-decoration: none;
}

header h1 {
    padding: 0 40px;
    font-size: 36px;
    font-weight: bold;
    color: var(--litetxt);
}

header nav {
    margin: 7px 0;
    padding: 0 20px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    list-style: none;
}

header ul li {
    padding: 0 6px;
}

header nav ul li a {
    padding: 5px 10px;
    font-size: 1.55vw;
    font-weight: bold;
    color: var(--litetxt);
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--thumbnail-bg);
    color: var(--heavytxt);
    border-radius: 15px;
    text-shadow: none;
}
/* Set up Style for Hero Image and Quote */

.hero {
    background: url(../images/herobg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hero img {
    padding: 10px;
    max-width: 20%;
    border-radius: 40px;
}

.hero p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    color: var(--litetxt);
    opacity: 0;
    position: relative;
    transition: 1s;
}

.hero:hover p {
    opacity: 1;
}

/* Begin Styles for Grids and Grid Containers */

.contact-wrapper {
    display: flex;
    width: 100%;
}

.content-container {
    width: 90%;
    display: grid;
    grid-template-rows: 0.9fr 3fr 0.65fr;
}

.section-grid {
    padding: var(--grid-padding);
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.section-title {
    display: flex;
    justify-content: flex-end;
    border-right: 3px solid;
}

.section-title h2 {
    padding: 0px 10px;
    text-align: right;
    font-size: 2em;
}

.section-content {
    padding: 0px 20px;
    text-align: justify;
}


/* Begin Style for About Me Section */

.about p::first-letter {
    font-size: 1.5em;
}

/* Begin style for My Work Section */

.work-wrapper {
    width: 100%;
    display: flex;
}

.work-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 2fr);
    grid-gap: 10px;
}

.work-container h3 {
    margin: 2px 0;
}

.work-container h4 {
    font-weight: normal;
    font-size: 0.8em;
}

.work-img {
    min-height: 125px;
    background-size: cover;
    border: 3px solid var(--header-bg);
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.work-item::after {
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient(rgba(158,202,204,0.3), rgba(68,90,120,1));
    position: absolute;
    top: 0;
    left: 0;
}

.work-img:hover .work-item::after {
    opacity: 1;
}


.project-1 {
    background-image: url("../images/runbuddy-thumbnail.png");
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

}

.project-2  {
    background-image: url("../images/coming-soon.png");

}

.project-3  {
    background-image: url("../images/coming-soon.png");

}

.project-4  {
    background-image: url("../images/coming-soon.png");

}

.project-5  {
    background-image: url("../images/coming-soon.png");

}

section.project-name {
    background-color: var(--thumbnail-bg);
    color: var(--heavytxt);
    padding: 5px 15px;
    margin-bottom: 10px;
    position: relative;
    z-index: 500;
}

/* Begin Style for Contact Section */

.contact address {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.contact address ul {
    list-style: none;
    font-style: normal;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

.contact address ul li {
    margin: 0 20px;
    padding-bottom: 2px;
    border-bottom: 3px solid;
}

.contact address ul li a {
    color: var(--txt-color);
    text-decoration: none;
}

/* Set up @Media for different viewports */

/*Tablet Compatibility */
@media screen and (max-width: 980px) {

    /* Adjust Header for Tablet */
   header {
       padding: 0;
       justify-content: center;
       position: relative;
   } 

   /* Adjust Hero for Tablet */

   .hero p {
       font-size: 1.25em;
       transition: 0s;
       opacity: 1;
   }

   /* Adjust content container */


   .content-wrapper {
       display: block;
       margin: 0 40px;
       width: 100%;
   }

   .content-container {
       display: block;
   }

   .section-grid {
       display: block;
   }

   /* Adjust About Section */

   .section-title {
       justify-content: center;
       border-right: none;
       border-bottom: 3px solid var(--txt-color);
   }

   .section-content {
       margin: 10px 0;
   }

   /* Adjust My Work Section */

   .work-container {
       width: 100%;
       grid-template-columns: 1fr 1fr;
   }

   /* Adjust Contact Me Section */
   .contact address {
       justify-content: space-around;
   }

   .contact address ul {
       margin: 15px 0;
   }

   .contact address ul li {
       margin: 0 15px;
   }
}

/* Mobile Phone Compatibility */
@media screen and (max-width: 768px) {
    
    /* Adjust Header Compatibility */
    header h1 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    header nav {
        margin: 0;
        padding: 0;
    }

    header nav ul li {
        padding: 0;
    }

    header nav ul li a {
        font-size: 0.7em;
        margin-bottom: 3px;
        text-shadow: none;
    }

    /* Adjust Hero Compatibility */
    .hero {
        Display: block;
        padding: 0 12px;
        text-align: left;
    }

    .hero img {
        display: block;
        margin: 0 auto;
        max-width: 60%;
    }    

    .hero p {
        padding: 0;
        opacity: 1;
        font-size: 0.9em;
        text-align: center;
        margin-bottom: 8px;
    }

    /* Adjust About Section */

    .content-wrapper {
        width: 85%;
    }

    .section-grid {
        padding: 0;
        margin: 30px 0 30px 0;
    }

    .section-content {
        font-size: 0.75em;
        text-align: justify;
    }

    /* Adjust Contact Me Section */

    .contact address ul {
        display: block;
        text-align: center;
    }

    .contact address ul li {
        border: none;
        margin: 8px 0;
        text-decoration: underline;
    }

}